html, body
, div, p, a, span, form, table, thead, tbody, tr, td, th, form, label
, h1, h2, h3, h4, h5, h6
{
    font-family: "Helvetica Neue Light", "Open Sans", Helvetica;
    font-size: 9pt;
    margin: 0; border: 0 none; padding: 0;
    margin-block-start: 0; margin-block-end: 0;
    color: black;
    background-color: transparent;
}
html, body { color: black; background-color: white; }
.normal-text {
    font-size: 9pt;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1 { font-size: 14pt; }
h2 { font-size: 12pt; }
h3 { font-size: 11pt; }
h3 { font-size: 14pt; }

a {
    color: #FF1010;
    background-color: transparent;
}
a:hover, a:visited {
    color: #FF4040;
    background-color: transparent;
}


.user_nickname {
    margin: 0.5em;
}
.user_video_container {
    padding: 1em;
}
.ourter_glow {
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}


div.sdiv {
    display: inline-block;
    margin: 0 0 1em 0;
}

div.hidden {
    display: none;
}

label {
    display: inline-block;
}

video#id_video_extractor {
    display: none;
    width: 20em !important;
    height: auto !important;
}

canvas#id_canvas_extractor {
    display: none;
}
